
/*----------------------------------------------------------------------------------------------------------------------------
#  General
#  General
#  General
#  General
#  General
----------------------------------------------------------------------------------------------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}


body {
  background-color: #280250;

  font-family: 'Montserrat', sans-serif;
  /* margin: 0; */

  /* transition: background-color 0.5s ease; */

  opacity: 0;
  /* transition: opacity 0.5s ease; */
  transition: all  0.5s ease;

  
  /* border: 10px solid white; */
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}
.color-section-0 {
  background-color: #280250;
}

.color-section-1 {
  background-color: #260031;
}

.color-section-2 {
  background-color: #ff4e15;
}

.color-section-3 {
  background-color: #fff;
}

.color-section-4 {
  background-color: #5100e7;
} 










/*----------------------------------------------------------------------------------------------------------------------------
#  Navbar
#  Navbar
#  Navbar
#  Navbar
#  Navbar
#  Navbar
----------------------------------------------------------------------------------------------------------------------------*/

#fullpage{
  margin-left: 50px;
}

.sidenav-parent {
  /* background-color: rgba(2, 236, 22, 0.815); */
  display: flex;
  /* justify-content: center; */
  align-items: center;

  height: 100%;
  width: 50px; /* change this with JavaScript */
  /* width: 100%;  */
  position: fixed; /* Stay in place */
  z-index: 20;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  /* overflow-x: visible; */
  /* Disable horizontal scroll */
  transition: 0.3s;  /* 0.5 second transition effect to slide in the sidenav */
}


:root {
   --colorBorde: 255, 255, 255; 
  }

.sidenav-parent #sidenav {
  /* background-color: green; */
  width: 100%;
  height: 96%;
  /* border-right: 2px solid rgb(255, 255, 255); */
  border-right: 2px solid rgba(var(--colorBorde), 1);
  border-bottom: none;

  /* display: block; */
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  position: relative;

  transition: 0.6s;
}

/* Icon menu */

.sidenav-parent #sidenav #sidenav-menu {
  /* background-color: rgba(255, 105, 180, 0.8); */
  /* writing-mode: vertical-rl; */
  /* transform: rotate(180deg); */
  /* color: #fff; */
  font-family: 'Montserrat';
  font-weight: 500;

  /* display: flex; */
  display: inline-block;
  cursor: pointer;

  margin: auto 10px;
  
  
  transition: 0.5s;
}

.sidenav-parent #sidenav #sidenav-menu div{
  background-color: #fff; 
}

.sidenav-parent #sidenav #sidenav-menu:hover {
  color:#ff4e15;
}

.bar1, .bar2, .bar3 {
  width: 28px;
  height: 2px;
  /* background-color: #fff; */
  margin: 8px 0;
  transition: 0.4s;
}



/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px) ;
  transform: rotate(-45deg) translate(-8px, 7px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -7px) ;
  transform: rotate(45deg) translate(-7px, -7px) ;
}


/* contenido menu */

.sidenav-parent #sidenav #sidenav-menu-content {
  /* background-color: rgba(4, 0, 255, 0.8); */
  /* width: 100%; */
  margin-left: 20vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: space-around;
  /* justify-content: center; */
}


.sidenav-parent #sidenav #sidenav-menu-content #sidenav-links {
  /* background-color: rgba(0, 255, 149, 0.8); */
  /* width: 100%; */
padding-top: 100px;
  /* display: flex; */
  /* justify-content: center; */
}

.sidenav-parent #sidenav #sidenav-menu-content #sidenav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* color: #5100e7; */
}

.sidenav-parent #sidenav #sidenav-menu-content #sidenav-links ul li {
  /* background-color: rgba(255, 105, 105, 0.5); */
  margin-top: 40px;
  margin-bottom: 40px;
}

.sidenav-parent #sidenav #sidenav-menu-content #sidenav-links ul li a {
  /* background-color: rgba(255, 105, 105, 0.5); */
  padding: 10px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 35px;
  color: #fff;
  transition: 0.3s;
}

.sidenav-parent #sidenav #sidenav-menu-content #sidenav-links ul li a:hover {
  color: #ff4e15;
}



.sidenav-parent #sidenav #sidenav-menu-content #sidenav-redes {
  /* background-color: rgba(238, 255, 0, 0.8); */
  width: 100%;
  margin-left: 20px;
}

.sidenav-parent #sidenav #sidenav-menu-content #sidenav-redes a span{

  vertical-align: middle;
}

.sidenav-parent #sidenav #sidenav-menu-content #sidenav-redes a {
  /* background-color: rgba(255, 105, 105, 0.5); */
  /* padding: 10px; */
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 17px;
  color: #34ccdf;
  transition: 0.3s;

}

.sidenav-parent #sidenav #sidenav-menu-content #sidenav-redes  a:hover {
  color: #fff;
}





@media screen and (max-width: 1200px) {
  
.sidenav-parent #sidenav #sidenav-menu-content #sidenav-links ul li {
  margin-top: 20px;
  margin-bottom: 20px;
}
  
.sidenav-parent #sidenav #sidenav-menu-content #sidenav-links ul li a {
  padding: 5px;
  font-size: 22px;
}

.sidenav-parent #sidenav #sidenav-menu-content #sidenav-redes a {
  font-weight: 600;
  font-size: 15px;

}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 7px) ;
  transform: rotate(-45deg) translate(-7px, 7px) ;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px) ;
  transform: rotate(45deg) translate(-6px, -6px) ;
}

}





.color-letra-blanco{
  
  color: #fff;
}

.color-letra-naranja{
  
  color: #ff4e15;
}



/* #  Logo */
/* #  Logo */
/* #  Logo */
/* #  Logo */

.sidenav-parent #sidenav-logo {
  /* background-color: rgba(255, 105, 180, 0.8); */
  position: absolute;
  /* top: 20px; */
  /* margin-left: 22px; */
  top: 25px;
  left: -4px;
  margin-left: -12px;
  z-index: 1;

  transition: margin-left .6s;
}


.sidenav-parent #sidenav-logo img {
  /* background-color: rgba(255, 105, 180, 0.8); */
  height: 60px;
}


.color-logo-naranja{
  filter: invert(43%) sepia(84%) saturate(3742%) hue-rotate(351deg) brightness(100%) contrast(102%);
}


/* #  Responsive */
/* #  Responsive */
/* #  Responsive */
/* #  Responsive */

@media (orientation:portrait) {

  #fullpage{
    margin-left: 0px;
  }

  .sidenav-parent {
    height: 50px;
    width: 100%;
    justify-content: center;
  }


  .sidenav-parent #sidenav {
    flex-direction: column;
    width: 96%;
    height: 100%;
    border-right: none;
    /* border-bottom: 2px solid rgba(var(--colorBorde), 1); */
  }
  
  /* Icon menu */
  
  .sidenav-parent #sidenav #sidenav-menu {
    margin: 10px 10px auto auto;
  }
  
  
  /* contenido menu */
  
  .sidenav-parent #sidenav #sidenav-menu-content {
    /* background-color: #2fbfcc; */
    margin-top: 10px;
    overflow: hidden;
    margin-left: 0vw;
  }
  
  
  .sidenav-parent #sidenav #sidenav-menu-content #sidenav-links {
    padding-top: 20px;
  }
  
  
  .sidenav-parent #sidenav #sidenav-menu-content #sidenav-links ul li {
    text-align: center;
  }
  
  .sidenav-parent #sidenav #sidenav-menu-content #sidenav-links ul li a {
    padding: 10px;
  }
  
  .sidenav-parent #sidenav #sidenav-menu-content #sidenav-redes {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }
  
  
  
  .bar1, .bar2, .bar3 {
    width: 26px;
    height: 2px;
    /* background-color: #fff; */
    margin: 7px 0;
    transition: 0.4s;
  }





    /* Logo */


  .sidenav-parent #sidenav-logo {
    position: absolute;
    top: 5px;
    left: 5px;
    /* margin-left: -12px; */
    z-index: 1;

    transition: margin-left .6s;
  }


  .sidenav-parent #sidenav-logo img {
    /* background-color: rgba(255, 105, 180, 0.8); */
    height: 60px;
  }


  .color-logo-naranja{
    filter: invert(43%) sepia(84%) saturate(3742%) hue-rotate(351deg) brightness(100%) contrast(102%);
  }



  
}




/*----------------------------------------------------------------------------------------------------------------------------
#  Main Sections
#  Main Sections
#  Main Sections
#  Main Sections
#  Main Sections
----------------------------------------------------------------------------------------------------------------------------*/

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 

 .flecha-top {
  
  position: absolute;
  bottom: 30px;
  right: 20px;
  z-index: 11;
}


 .flecha-top img:hover {
  
  filter: invert(43%) sepia(84%) saturate(3742%) hue-rotate(351deg) brightness(100%) contrast(102%);

}

.filtro-flecha-top {
  
  filter: invert(43%) sepia(84%) saturate(3742%) hue-rotate(351deg) brightness(100%) contrast(102%);

}

 .icon-whatsapp {
  /* background-color: #ff4e15; */
  position: absolute;
  bottom: 25px;
  right: 55px;
  z-index: 11;

}


/*----------------------------------------------------------------------------------------------------------------------------
#  Hero
#  Hero
#  Hero
#  Hero
#  Hero
#  Hero
----------------------------------------------------------------------------------------------------------------------------*/
  #section0 {
  /* background-color: rgba(255, 105, 180, 0.4); */
  /* height: 100%; */
  /* width: 100% ; */
  /* color: #fff; */

  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  
  position: relative;
  /* padding-bottom: -60px; */

  /* border: 10px solid red; */
}



canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #280250;
  transition: background-color 0.5s ease;
  position: absolute;
}

  #section0 .idiomas {
  
  position: absolute;
  top: 20px;
  right: 40px;

}

@media (orientation: portrait) {
  #section0 .idiomas {
  
    position: absolute;
    top: 60px;
    right:15px;
  
  }
}



  #section0 .idiomas a{
  
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  margin: auto 5px;

}

#section0 .idiomas a:hover{
  
  color: #ff4e15;

}
#section0 .idiomas .active{

  font-weight: 700;

}




  #section0 .ver-reel {
  
  position: absolute;
  bottom: 20px;
  left: 10px;


}

  #section0 .ver-reel a span {
  
  vertical-align: middle;

}

  #section0 .ver-reel a{
  
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #fff;

}

  #section0 .ver-reel img{
  
  margin: auto 10px;

}

  #section0 .ver-reel a:hover{
  
  color: #ff4e15;

}



  #section0 #carousel a {
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #33ccd9;
  text-decoration: none;
  transition: 0.3s;

}

  #section0 #carousel a:hover {
  
  color: #ff4e15;

}


#section0 #carousel h6 {
  
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #33ccd9;
  transition: 0.3s;
  margin-bottom: 5px;

}

#section0 #carousel h5 {
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #33ccd9;
  transition: 0.3s;

}


@media screen and (max-width: 576px) {
  

  #section0 #carousel h6 {
    font-size: 13px;
    margin-bottom: 4px;
  }
  
  #section0 #carousel h5 {
    font-size: 14px;
  }
  

}




#section0 #carousel .lab360 {
  
  font-family: 'Montserrat';
  /* font-weight: 600;
  font-size: 13px; */
  color: #34ccdf;

}

  #section0 #carousel .lab360  h1 {
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 100px;
  color: #fff;
  text-align: left;

}

  #section0 #carousel .lab360  h2 {
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 21px;
  color: #fff;
  text-align: left;

}

  #section0 #carousel .lab360  h3 {
  
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-align: left;

}

#section0 #carousel .lab360  h4 {
  
  font-style: italic;
  font-family: 'Montserrat';
  font-size: 26px;
  color: #ff4e15;
  font-weight: 400;
  text-align: left;

}


#section0 #carousel .lab360  a {
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #33ccd9;
  text-decoration: none;
  transition: 0.3s;
  display: block;

}

  #section0 #carousel .lab360  a:hover {
  
  color: #ff4e15;

}


@media screen and (max-width: 768px) {
  
  #section0 #carousel .lab360  h1 {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
  
  }
  
    #section0 #carousel .lab360  h2 {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
  
  }
  
    #section0 #carousel .lab360  h3 {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
  
  }
  
  #section0 #carousel .lab360  h4 {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
  
  }
  
  
#section0 #carousel .lab360  a {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  

}
  

}







/*----------------------------------------------------------------------------------------------------------------------------
#  Nosotros
#  Nosotros
#  Nosotros
#  Nosotros
#  Nosotros
#  Nosotros
----------------------------------------------------------------------------------------------------------------------------*/
  #section1 {
  /* background-color: #ff4e15; */
  /* height: 100%; */
  /* width: 100% ; */
  /* color: #fff; */
  
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */

  /* position: relative; */
}



  #section1 .ver-reel {
  
  position: absolute;
  bottom: 20px;
  left: 10px;


}

  #section1 .ver-reel a span {
  
  vertical-align: middle;

}

  #section1 .ver-reel a{
  
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #fff;

}

  #section1 .ver-reel img{
  
  margin: auto 10px;

}

  #section1 .ver-reel a:hover{
  
  color: #ff4e15;

}



/* Titulo seccion nosotros */
/* Titulo seccion nosotros */
/* Titulo seccion nosotros */
/* Titulo seccion nosotros */



#section1 .palabras h1{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 80px;
  color: #fff;

}

#section1 .palabras h5{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  line-height: 150%;
}

#section1 .palabras  #palabras-base span{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 80px;
  color: #280250;

}

/* Palabras rotando */
/* Palabras rotando */
/* Palabras rotando */
/* Palabras rotando */



#section1 .palabras #palabras-base {
  /* background-color: #33cbd9; */
  position:relative;
  /* width: 200px; */
  /* opacity: 0; */
  overflow-x: hidden;
  overflow-y: hidden;
}

#section1 .palabras #palabras-base  #palabra-oculta{
  transition: all 0.2s ease-out;
}

#section1 .palabras .word {
  /* background-color: #33cbd9; */
  position:absolute;
  left: 0px;
  top: -10%;
  opacity: 0;
}

#section1 .palabras .letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

#section1 .palabras .letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#section1 .palabras .letter.behind {
  transform: rotateX(-90deg);
}

#section1 .palabras .letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}




@media screen and (max-width: 1200px) {
  
  #section1 .palabras h1{
    font-size: 30px;
  }
  
    #section1  .palabras  #palabras-base  span{
    font-size: 30px;
  }
  
    #section1  .palabras h5{
    font-size: 17px;
  }
}

@media screen and (min-width: 1400px) {
  
  #section1  .palabras h1{
    font-size: 90px;
  }
  
    #section1  .palabras #palabras-base   span{
    font-size: 90px;
  }
  #section1 .palabras h5{
  font-size: 25px;
}
  
}





/*----------------------------------------------------------------------------------------------------------------------------
#  Experiencia
#  Experiencia
#  Experiencia
#  Experiencia
#  Experiencia
----------------------------------------------------------------------------------------------------------------------------*/
  

#section2 {
  /* background-color: #260031; */
  /* height: 100%; */
  /* width: 100% ; */
  color: #fff;
  
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}



.color-logo-azul{
  filter: invert(67%) sepia(83%) saturate(427%) hue-rotate(139deg) brightness(150%) contrast(87%);
}



#section2 .ver-reel {
  
  position: absolute;
  bottom: 20px;
  left: 10px;


}

  #section2 .ver-reel a span {
  
  vertical-align: middle;

}

  #section2 .ver-reel a{
  
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #34ccdf;
  transition: 0.3s;

}

  #section2 .ver-reel img{
  
  margin: auto 10px;

}

  #section2 .ver-reel a:hover{
  
  color: #fff;

}




#section2 .titulo-videos h1{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 40px;
  color: #fff;
  /* position: absolute;
  top: 50px;
  left: 20px; */

}

  #section2 .titulo-videos a{
  
cursor: pointer;

  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #34ccdf;
  transition: 0.3s;

}

#section2 .titulo-videos a span {
  
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  transition: 0.3s;
  /* vertical-align: middle; */

}






@media screen and (max-width: 576px) {
  
  #section2 .titulo-videos h1{
    font-size: 20px;
    text-align: center;
  }
  
  #section2 .titulo-videos a{
    font-size: 12px;
  }
  
  #section2 .titulo-videos a span {
    font-size: 12px;
  }
  
  
}


#section2 .video-base{
  height: 100%;
}



@media screen and (max-width: 1200px) {
  
  #section2 .video-base{
    height: 25%;
  }

  
}



/* videos individuales */
/* videos individuales */
/* videos individuales */
/* videos individuales */

#section2 .icon-box {
  overflow: hidden;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;

  cursor: pointer;

  width: 100%;
  
  position: relative;
}





#section2 .icon-box:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 1200px) {
  
  #section2 .icon-box:hover {
    transform: translateX(0px);
  }
  
}



#section2 .icon-box .video-individual{
  clip-path: circle(40px at center);
  transition: clip-path 0.9s ease;
  position: absolute;
}

#section2 .icon-box:hover .video-individual{
  position: relative;
  clip-path: circle(1000px at center);
}


#section2 .icon-box .video-individual video{
  height: 100%;
  width: auto;
  opacity: 0.3;
  transition: 0.5s;
}

#section2 .icon-box:hover .video-individual video{
  opacity: 1;
}

#section2 .icon-box .video-individual img{
  height: 100%;
  width: auto;
}

@media screen and (max-width: 1200px) {
  
  #section2 .icon-box .video-individual{
    clip-path: circle(32px at center);
  }
    
  #section2 .icon-box .video-individual video{
    height: auto;
    width: 100%;
  }
    
  #section2 .icon-box .video-individual img{
    height: auto;
    width: 100%;
  }

}
  


#section2 .icon-box  h1{

  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  transition: color 0.3s;

  text-transform: uppercase;

  position: absolute;

  text-shadow: 0px 0px 8px #000;

  
}



#section2 .icon-box:hover  h1{
  color: #34ccdf;
  border-bottom: 3px solid #34ccdf;

}


@media screen and (max-width: 1200px) {
  #section2 .icon-box  h1{
    font-weight: 600;
    font-size: 12px;
    
  }

}








/*----------------------------------------------------------------------------------------------------------------------------
#  Portafolio
#  Portafolio
#  Portafolio
#  Portafolio
#  Portafolio
----------------------------------------------------------------------------------------------------------------------------*/
  




#section3 {
  
}

#section3 h1{
  
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 40px;
  color: #5100f1;
  
}

#section3 h2{
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #ff4e15;
  
}




#section3 p{
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #5100f1;
  text-decoration: none;
  
}

#section3 p span{
  
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  color: #5100f1;
  text-decoration: none;
  
}


@media screen and (max-width: 1200px) {
  #section3 h1{
    font-size: 24px;
  }
  
  #section3 h2{
    font-size: 16px;
    
  }
  
  #section3 p{
    font-weight: 500;
    font-size: 13px;
    
  }
  #section3 p span{
    
    font-weight: 400;
    font-size: 10px;
    
  }

}


#section3 .desarrollos-base{
  height: 40%;
  
}

#section3 .desarrollos-base .grupos-base{
  height: 100%;
  
}


#section3 .desarrollos-base .item-base{
  /* background-color: #bea3f0; */
  height: 25%;
  width: 100%;
  border-bottom: 1px solid #ff4e15;
  position: relative;
  
}

#section3 .desarrollos-base .item-titulo{
  height: 25%;
  width: 100%;
  border-bottom: 1px solid #ff4e15;
  position: relative;
  
}

#section3 .desarrollos-base .item-base img{
  height: 35px;
  margin-right: 10px;
}

#section3 .item-titulo img{
  position: absolute;
  left: -35px;
  height: 25px;
}


/* para celular */
@media screen and (max-width: 1200px) {

  #section3 .desarrollos-base{
    height: 70%;
    margin-top: 25px;
    
  }
  #section3 .desarrollos-base .grupos-base{
    height:45%;
    
  }
  #section3 .desarrollos-base .item-base img{
    height: 25px;
    margin-right: 10px;
  }

  #section3 .item-titulo img{
    position: absolute;
    left: -25px;
    height: 20px;
  }
}



/*----------------------------------------------------------------------------------------------------------------------------
#  Contacto
#  Contacto
#  Contacto
#  Contacto
#  Contacto
#  Contacto
----------------------------------------------------------------------------------------------------------------------------*/
  #section4 {
  position: relative;
}


#section4 #gif-sobre {
  height:  300px;
}


#section4  #sidenav-redes {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;

}

#section4  #sidenav-redes a span{

  vertical-align: middle;
}

#section4  #sidenav-redes a {
  /* background-color: rgba(255, 105, 105, 0.5); */
  /* padding: 10px; */
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 17px;
  color: #34ccdf;
  transition: 0.3s;

}

#section4  #sidenav-redes  a:hover {
  color: #fff;
}





@media screen and (max-width: 1200px) {
  
  #section4 #gif-sobre {
    height:  150px;
  }

  #section4  #sidenav-redes a {
    font-weight: 600;
    font-size: 15px;

  }


}




@media (orientation:portrait) {
  
  #section4  #sidenav-redes {
    height: auto;
    display: block;
    position: absolute;
    top: auto;
    right: auto;
    left: 20px;
    bottom: 20px;

  }

  #section4  #sidenav-redes a {
    font-weight: 600;
    font-size: 15px;

  }


}




#section4  h1 {
  
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 50px;
  color: #fff;
  text-align: left;

}


#section4  h1 span {
  
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  text-align: left;

}




#section4  h3 {
  
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  text-align: left;

}




@media screen and (max-width: 1200px) {
  
 

  #section4  h1 {
    
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    text-align: left;

  }


  #section4  h1 span {
    
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    text-align: left;

  }



  #section4  h3 {
    
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-align: left;

  }


}





#section4  .frase-mail a {
  text-decoration: underline;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  color: #34ccdf;
  transition: 0.3s;

}

#section4  .frase-mail  a:hover {
  color: #fff;
}





@media screen and (max-width: 1200px) {
  

  #section4  .frase-mail a {
    font-weight: 600;
    font-size: 15px;

  }


}
