
/*----------------------------------------------------------------------------------------------------------------------------
#  General
----------------------------------------------------------------------------------------------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}


body {
  background-color: #280250;

  font-family: 'Montserrat', sans-serif;
  /* margin: 0; */

  transition: background-color 0.5s ease;


  
  /* border: 10px solid white; */
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}
.color-section-0 {
  background-color: #280250;
}

.color-section-1 {
  background-color: #260031;
}

.color-section-2 {
  background-color: #ff4e15;
}

.color-section-3 {
  background-color: #fff;
}

.color-section-4 {
  background-color: #5100e7;
} 



/*----------------------------------------------------------------------------------------------------------------------------
#  Navbar
----------------------------------------------------------------------------------------------------------------------------*/

#fullpage{
  margin-left: 60px;
}

.sidenav-parent {
  /* background-color: rgba(2, 236, 22, 0.815); */
  display: flex;
  /* justify-content: center; */
  align-items: center;

  height: 100%;
  width: 60px; /* change this with JavaScript */
  /* width: 100%;  */
  position: fixed; /* Stay in place */
  z-index: 20;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  /* overflow-x: visible; */
  /* Disable horizontal scroll */
  transition: 0.3s;  /* 0.5 second transition effect to slide in the sidenav */
}


:root {
   --colorBorde: 255, 255, 255; 
  }

.sidenav-parent #sidenav {
  /* background-color: green; */
  width: 100%;
  height: 96%;
  /* border-right: 2px solid rgb(255, 255, 255); */
  border-right: 2px solid rgba(var(--colorBorde), 1);
  border-bottom: none;

  /* display: block; */
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  position: relative;

  transition: 0.6s;
}

/* Icon menu */

.sidenav-parent #sidenav #sidenav-menu {
  /* background-color: rgba(255, 105, 180, 0.8); */
  /* writing-mode: vertical-rl; */
  /* transform: rotate(180deg); */
  /* color: #fff; */
  font-family: 'Montserrat';
  font-weight: 500;

  /* display: flex; */
  display: inline-block;
  cursor: pointer;

  margin: auto 10px;
  
  
  transition: 0.5s;
}

.sidenav-parent #sidenav #sidenav-menu div{
  background-color: #fff; 
}

.sidenav-parent #sidenav #sidenav-menu:hover {
  color:#ff4e15;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 2px;
  /* background-color: #fff; */
  margin: 10px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px) ;
  transform: rotate(-45deg) translate(-8px, 8px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -8px) ;
  transform: rotate(45deg) translate(-9px, -8px) ;
}


/* contenido menu */

.sidenav-parent #sidenav #sidenav-menu-content {
  /* background-color: rgba(4, 0, 255, 0.8); */
  /* width: 100%; */
  margin-left: 20vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: space-around;
  /* justify-content: center; */
}


.sidenav-parent #sidenav #sidenav-menu-content #sidenav-links {
  /* background-color: rgba(0, 255, 149, 0.8); */
  /* width: 100%; */
padding-top: 100px;
  /* display: flex; */
  /* justify-content: center; */
}

.sidenav-parent #sidenav #sidenav-menu-content #sidenav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* color: #5100e7; */
}

.sidenav-parent #sidenav #sidenav-menu-content #sidenav-links ul li {
  /* background-color: rgba(255, 105, 105, 0.5); */
  margin-top: 40px;
  margin-bottom: 40px;
}

.sidenav-parent #sidenav #sidenav-menu-content #sidenav-links ul li a {
  /* background-color: rgba(255, 105, 105, 0.5); */
  padding: 10px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 35px;
  color: #fff;
  transition: 0.3s;
}

.sidenav-parent #sidenav #sidenav-menu-content #sidenav-links ul li a:hover {
  color: #ff4e15;
}



.sidenav-parent #sidenav #sidenav-menu-content #sidenav-redes {
  /* background-color: rgba(238, 255, 0, 0.8); */
  width: 100%;
  margin-left: 20px;
}

.sidenav-parent #sidenav #sidenav-menu-content #sidenav-redes a span{

  vertical-align: middle;
}

.sidenav-parent #sidenav #sidenav-menu-content #sidenav-redes a {
  /* background-color: rgba(255, 105, 105, 0.5); */
  /* padding: 10px; */
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 17px;
  color: #34ccdf;
  transition: 0.3s;

}

.sidenav-parent #sidenav #sidenav-menu-content #sidenav-redes  a:hover {
  color: #fff;
}








.color-letra-blanco{
  
  color: #fff;
}

.color-letra-naranja{
  
  color: #ff4e15;
}



/*----------------------------------------------------------------------------------------------------------------------------
#  Logo
----------------------------------------------------------------------------------------------------------------------------*/

.sidenav-parent #sidenav-logo {
  /* background-color: rgba(255, 105, 180, 0.8); */
  position: absolute;
  /* top: 20px; */
  /* margin-left: 22px; */
  top: 25px;
  left: 0px;
  margin-left: -12px;
  z-index: 1;

  transition: margin-left .6s;
}


.sidenav-parent #sidenav-logo img {
  /* background-color: rgba(255, 105, 180, 0.8); */
  height: 60px;
}


.color-logo-naranja{
  filter: invert(43%) sepia(84%) saturate(3742%) hue-rotate(351deg) brightness(100%) contrast(102%);
}



/*----------------------------------------------------------------------------------------------------------------------------
#  Responsive
#  Responsive
#  Responsive
----------------------------------------------------------------------------------------------------------------------------*/

@media (orientation:portrait) {

  #fullpage{
    margin-left: 0px;
  }

  .sidenav-parent {
    height: 60px;
    width: 100%;
    justify-content: center;
  }


  .sidenav-parent #sidenav {
    flex-direction: column;
    width: 96%;
    height: 100%;
    border-right: none;
    border-bottom: 2px solid rgba(var(--colorBorde), 1);
  }
  
  /* Icon menu */
  
  .sidenav-parent #sidenav #sidenav-menu {
    margin: 10px 10px auto auto;
  }
  
  
  /* contenido menu */
  
  .sidenav-parent #sidenav #sidenav-menu-content {
    /* background-color: #2fbfcc; */
    margin-top: 5px;
    overflow: hidden;
    margin-left: 0vw;
  }
  
  
  .sidenav-parent #sidenav #sidenav-menu-content #sidenav-links {
    padding-top: 20px;
  }
  
  
  .sidenav-parent #sidenav #sidenav-menu-content #sidenav-links ul li {
    text-align: center;
  }
  
  .sidenav-parent #sidenav #sidenav-menu-content #sidenav-links ul li a {
    padding: 10px;
  }
  
  .sidenav-parent #sidenav #sidenav-menu-content #sidenav-redes {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }
  
  
  





    /* Logo */


  .sidenav-parent #sidenav-logo {
    position: absolute;
    top: 5px;
    left: 5px;
    /* margin-left: -12px; */
    z-index: 1;

    transition: margin-left .6s;
  }


  .sidenav-parent #sidenav-logo img {
    /* background-color: rgba(255, 105, 180, 0.8); */
    height: 60px;
  }


  .color-logo-naranja{
    filter: invert(43%) sepia(84%) saturate(3742%) hue-rotate(351deg) brightness(100%) contrast(102%);
  }



  
}




/*----------------------------------------------------------------------------------------------------------------------------
#  Main Sections
----------------------------------------------------------------------------------------------------------------------------*/

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 

 .flecha-top {
  
  position: absolute;
  bottom: 30px;
  right: 20px;
  z-index: 11;
}


 .flecha-top img:hover {
  
  filter: invert(43%) sepia(84%) saturate(3742%) hue-rotate(351deg) brightness(100%) contrast(102%);

}

.filtro-flecha-top {
  
  filter: invert(43%) sepia(84%) saturate(3742%) hue-rotate(351deg) brightness(100%) contrast(102%);

}

 .icon-whatsapp {
  /* background-color: #ff4e15; */
  position: absolute;
  bottom: 25px;
  right: 55px;
  z-index: 11;

}


/*----------------------------------------------------------------------------------------------------------------------------
#  Hero
----------------------------------------------------------------------------------------------------------------------------*/
  #section0 {
  /* background-color: rgba(255, 105, 180, 0.4); */
  /* height: 100%; */
  /* width: 100% ; */
  /* color: #fff; */

  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  
  position: relative;
  /* padding-bottom: -60px; */

  /* border: 10px solid red; */
}

  #section0 .idiomas {
  
  position: absolute;
  top: 20px;
  right: 40px;

}

@media (orientation: portrait) {
  #section0 .idiomas {
  
    position: absolute;
    top: 80px;
    right: 20px;
  
  }
}



  #section0 .idiomas a{
  
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  margin: auto 5px;

}

#section0 .idiomas a:hover{
  
  color: #ff4e15;

}
#section0 .idiomas .active{

  font-weight: 700;

}




  #section0 .ver-reel {
  
  position: absolute;
  bottom: 20px;
  left: 10px;


}

  #section0 .ver-reel a span {
  
  vertical-align: middle;

}

  #section0 .ver-reel a{
  
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #fff;

}

  #section0 .ver-reel img{
  
  margin: auto 10px;

}

  #section0 .ver-reel a:hover{
  
  color: #ff4e15;

}



  #section0 #carousel a {
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #33ccd9;
  text-decoration: none;
  transition: 0.3s;

}

  #section0 #carousel a:hover {
  
  color: #ff4e15;

}


#section0 #carousel h6 {
  
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #33ccd9;
  transition: 0.3s;
  margin-bottom: 5px;

}

#section0 #carousel h5 {
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #33ccd9;
  transition: 0.3s;

}


@media screen and (max-width: 576px) {
  

  #section0 #carousel h6 {
    font-size: 13px;
    margin-bottom: 4px;
  }
  
  #section0 #carousel h5 {
    font-size: 14px;
  }
  

}




#section0 #carousel .lab360 {
  
  font-family: 'Montserrat';
  /* font-weight: 600;
  font-size: 13px; */
  color: #34ccdf;

}

  #section0 #carousel .lab360  h1 {
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 100px;
  color: #fff;
  text-align: left;

}

  #section0 #carousel .lab360  h2 {
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 21px;
  color: #fff;
  text-align: left;

}

  #section0 #carousel .lab360  h3 {
  
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-align: left;

}

#section0 #carousel .lab360  h4 {
  
  font-style: italic;
  font-family: 'Montserrat';
  font-size: 26px;
  color: #ff4e15;
  font-weight: 400;
  text-align: left;

}


#section0 #carousel .lab360  a {
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #33ccd9;
  text-decoration: none;
  transition: 0.3s;

}

  #section0 #carousel .lab360  a:hover {
  
  color: #ff4e15;

}


@media screen and (max-width: 768px) {
  
  #section0 #carousel .lab360  h1 {
    font-weight: 600;
    font-size: 65px;
    text-align: center;
  
  }
  
    #section0 #carousel .lab360  h2 {
    font-weight: 500;
    font-size: 19px;
    text-align: center;
  
  }
  
    #section0 #carousel .lab360  h3 {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
  
  }
  
  #section0 #carousel .lab360  h4 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  
  }
  
  
#section0 #carousel .lab360  a {
  font-weight: 500;
  font-size: 12px;

}
  

}







/*----------------------------------------------------------------------------------------------------------------------------
#  Nosotros
----------------------------------------------------------------------------------------------------------------------------*/
  #section1 {
  /* background-color: #ff4e15; */
  /* height: 100%; */
  /* width: 100% ; */
  /* color: #fff; */
  
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */

  /* position: relative; */
}



  #section1 .ver-reel {
  
  position: absolute;
  bottom: 20px;
  left: 10px;


}

  #section1 .ver-reel a span {
  
  vertical-align: middle;

}

  #section1 .ver-reel a{
  
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  color: #fff;

}

  #section1 .ver-reel img{
  
  margin: auto 10px;

}

  #section1 .ver-reel a:hover{
  
  color: #ff4e15;

}

  #section1 h1{
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 80px;
  color: #fff;

}

  #section1 h1 span{
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 80px;
  color: #280250;

}

  #section1 p{
  
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #fff;

}


  /* #section1 h1 span:before{
  
  content: '';
  animation: animate infinite 40s;

} */


@media screen and (max-width: 1196px) {
  
  #section1 h1{
    font-size: 70px;
  }
  
    #section1 h1 span{
    font-size: 70px;
  }
  
}

@media screen and (max-width: 992px) {
  
  #section1 h1{
    font-size: 40px;
  }
  
    #section1 h1 span{
    font-size: 40px;
  }
  
    #section1 p{
    font-size: 20px;
  }
}

@media screen and (min-width: 1400px) {
  
  #section1 h1{
    font-size: 90px;
  }
  
    #section1 h1 span{
    font-size: 90px;
  }
  #section1 p{
  font-size: 25px;
}
  
}

/* palabras rotando */
/* palabras rotando */
/* palabras rotando */
/* palabras rotando */



.word {
  /* background-color: #33ccd9; */
  position: absolute;
  /* width: 220px; */
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}







/*----------------------------------------------------------------------------------------------------------------------------
#  Portafolio
----------------------------------------------------------------------------------------------------------------------------*/
  #section3 {
  /* background-color: #fff; */
  /* height: 100%; */
  /* width: 100% ; */
  /* color: #5100e7; */
  
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

  #section3 h1{
  
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 33px;
  color: #5100f1;
  
}

  #section3 h2{
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #ff4e15;
  
}

  #section3 h2 img{
  
  margin-left: -30px;
}

  #section3 hr{
  
  border: 1px solid #ff4e15;
  opacity: 1;
  margin: 30px 0;
  
}


  #section3 a{
  
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 19px;
  color: #5100f1;
  text-decoration: none;
  
}






/*----------------------------------------------------------------------------------------------------------------------------
#  Contacto
----------------------------------------------------------------------------------------------------------------------------*/
  #section4 {
  /* background-color: #5100e7; */
  /* height: 100%; */
  /* width: 100% ; */
  /* color: #fff; */
  
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}










/*----------------------------------------------------------------------------------------------------------------------------
#  Experiencias
----------------------------------------------------------------------------------------------------------------------------*/


  #section2 {
  /* background-color: #260031; */
  /* height: 100%; */
  /* width: 100% ; */
  color: #fff;
  
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}


  .container-strips h1{
  position: absolute;
  top: 100px;
}


.container-strips {
  position: relative;
  display: block !important;
  margin: 50px;
}
.strips {
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
}

.strips-strip {
  will-change: width, left, z-index, height;
  position: absolute;
  width: 20%;
  min-height: 60vh;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.strips-strip:nth-child(1) {
  left: 0;
}
.strips-strip:nth-child(2) {
  left: 20vw;
}
.strips-strip:nth-child(3) {
  left: 40vw;
}
.strips-strip:nth-child(4) {
  left: 60vw;
}
.strips-strip:nth-child(5) {
  left: 80vw;
}

.strips-strip:nth-child(1) .strip-content {
  background: #244F75;
  transform: translate3d(-100%, 0, 0);
  animation-name: strip1;
  animation-delay: 0.1s;
}
.strips-strip:nth-child(2) .strip-content {
  background: #60BFBF;
  transform: translate3d(0, 100%, 0);
  animation-name: strip2;
  animation-delay: 0.2s;
}
.strips-strip:nth-child(3) .strip-content {
  background: #8C4B7E;
  transform: translate3d(0, -100%, 0);
  animation-name: strip3;
  animation-delay: 0.3s;
}
.strips-strip:nth-child(4) .strip-content {
  background: #F8BB44;
  transform: translate3d(0, 100%, 0);
  animation-name: strip4;
  animation-delay: 0.4s;
}
.strips-strip:nth-child(5) .strip-content {
  background: #F24B4B;
  transform: translate3d(100%, 0, 0);
  animation-name: strip5;
  animation-delay: 0.5s;
}

.strips .strip-content {
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: both;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.strips .strip-video {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 70%;
  opacity: 0;
}

.strips-strip--expanded {
  width: 40%;
  z-index: 3;
  cursor: default;
}

.strips-strip--expanded .strip-content:hover:before {
  transform: skew(-30deg) scale(1) translate(0, 0);
  opacity: 0.05;
}
.strips-strip--expanded .strip-title {
  opacity: 0;
}
.strips-strip--expanded .strip-video {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.strip-title {
  display: block;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 3.5vw;
  color: white;
}

/*-----Close button---- */

/* .strip-close {
  position: absolute;
  right: 3vw;
  top: 20%;
  opacity: 0;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  transition-delay: 0.5s;
}
.strip-close--show {
  opacity: 1;
} */


/*------contenedores adaptables------ */
@media screen and (max-width: 760px) {
  .strips-strip {
    min-height: 20vh;
  }
  .strips-strip:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
  }
  .strips-strip:nth-child(2) {
    top: 20vh;
    left: 0;
    width: 100%;
  }
  .strips-strip:nth-child(3) {
    top: 40vh;
    left: 0;
    width: 100%;
  }
  .strips-strip:nth-child(4) {
    top: 60vh;
    left: 0;
    width: 100%;
  }
  .strips-strip:nth-child(5) {
    top: 80vh;
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .strips-strip--expanded {
    min-height: 100vh;
  }
}

@media screen and (max-width: 760px) {
  .strip-title {
    font-size: 28px;
  }
}

/*----- Animaciones----- */
@keyframes strip1 {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip2 {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip3 {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip4 {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip5 {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
