/*----------------------------------
---------------Variables------------
------------------------------------*/
$images-path: "../resources/images/"; //
$fonts-path: "../resources/fonts/"; //
// -------------------------------
// Main Colors
$white: #ffffff !default;
$black: #000000 !default;

$gray-light: #E6E6E6;
$gray-semilight: #F2F2F2;
$gray-semilight-2: #B3B3B3;
$gray-medium: #666666;
$gray-semidark:#4D4D4D;
$gray-dark: #333333;

$blue:#007bff;
$blue-ultralight:#E0EBFF;
$blue-ultralight-2:#C3D7FA;
$blue-ultralight-3: #BBDBF9;
$blue-light:#3772FF;
$blue-light-1:#72A5ED;
$blue-light-2: #95BDFC;
$blue-light-3: #A8BBE2;
$blue-semilight: #194B93;
$blue-semilight-1: #00B7EB;
$blue-semilight-2: #6699FF;
$blue-semilight-3:#729AD5;
$blue-medium:#3366CC;
$blue-medium-2:#2155AA;
$blue-medium-3:#386DC0;
$blue-medium-4:#4D7BD5;
$blue-semidark:#2E3192;
$blue-dark:#19263A;
$blue-dark-1:#4F7D8D;
$blue-ultradark: #000C48;

$green-blue-light:#6EC6D8;

$magenta-ultralight: #FFECED;
$magenta-ultralight-2: #E7B4C3;
$magenta-light: #FFA0A6;
$magenta-semilight: #FF4E59;
$magenta-medium: #F42F63;
$purple-light: #A36EA0;
$purple-semilight: #9595D1;
$purple-medium:#91599A;

$green-ultralight:#D8ECDD;
$green-light:#CCEFE8;
$green-semilight:#89C9BC;
$green-medium: #689224;
$green-medium-2: #8CC63F;
$green-semidark: #74A97E;

$yellow-ultralight: #F4F092;

$orange-light: #f7c067;
$orange-ultralight: #fdf2e1;
$orange-light-2: #F39500;
$orange-medium-2: #F37A00;
$orange-medium-3: #F44F2F;
$orange-medium: #f37a00;

$green-blue-medium: #1988B5;
$green-blue-light:#6EC6D8;
$green-blue-semilight:#3CAECE;
$green-blue-ultralight:#D8EFF5;
$green-blue-ultralight-2:#C8E8F1;


// -------------------------------
$section-color: $white;
$section-color-bg: $white;
// -------------------------------
/*
    $color-ultralight: #;
    $color-light: #;
    $color-semilight: #;
    $color-medium: #;
    $color-semidark:#;
    $color-dark: #;
    $color-ultradark: #;
*/
// -------------------------------